<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Web-Lab2</title>

    <!-- Below condition is added to maintain width and initial scale is for setting Zoom version -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Css Import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Jquery Import for any of the function calls -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JS Import -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- On Load Function is called, because we used Sign-In and Sign-Out in Different Pages -->
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <!-- ANgular JS Import -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>

    <!-- Required Import for Data Binding -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular-sanitize.js"></script>

    <script src="lab2script.js"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<style>
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }

    .node text {
        font: 12px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }
    body{
        background: url(twitter4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body ng-app="lab2App" ng-controller="lab2Controller">

<div class="container-fluid">

    <h3 align="center" style="color:black;">Twitter Friends List</h3>

</div>


<div class="container" style="margin-top: 50px;" align="center">

            <h4  style="color:black;">My Twitter Friends List</h4>

            <!-- Asking for a Input -->
            <input type="text" ng-model="twitterName" placeholder="Enter Twitter Screen Name"/>
            <button ng-click="getTwitterFriends()" class="btn btn-primary">Get my Friends List</button>
            <!-- Error text -->
            <p style="color: red" ng-bind="errorText"></p>
</div>
</body>

</html>